doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Account Approved
    body
        h1 Account Approved
        p Your account has been approved.
        p You can now login to the application.
        p Thank you.