doctype html
html
    head
        style
            | body {
            |   font-family: Arial, sans-serif;
            |   background-color: #f5f5f5;
            |   margin: 0;
            |   padding: 0;
            | }
            |
            | .container {
            |   max-width: 600px;
            |   margin: 0 auto;
            |   padding: 20px;
            |   background-color: #ffffff;
            |   border-radius: 5px;
            |   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            | }
            |
            | h1 {
            |   color: #333333;
            |   font-size: 24px;
            |   margin-top: 0;
            | }
            |
            | p {
            |   color: #666666;
            |   font-size: 16px;
            |   margin-bottom: 20px;
            | }
            |
            | .button {
            |   display: inline-block;
            |   padding: 10px 20px;
            |   background-color: #007bff;
            |   color: #ffffff;
            |   text-decoration: none;
            |   border-radius: 5px;
            | }
            |
            | .button:hover {
            |   background-color: #0056b3;
            | }
        title Set Password Email
    body
        div(class="container")
            h1 Welcome to UCTSS CTMS – Your Access and Password Reset Instructions!
            p Dear #{name},
            p Welcome to United Clinical Trial Support Services’ (UCTSS) Clinical Trial Management System (CTMS) You have been assigned the role of a #{role}.
            p To get started, please use the following instructions to access the CTMS for details: Set Your Password to the CTMS with the link below. Please choose a strong, secure password for your account.
            a(class="button", href=`https://ctms-frontend.vercel.app/user-set-password?code=${code}&email=${email}`) Set Password
            p Should you encounter any issues or have questions about using the CTMS, our support team is here to assist you. Feel free to reach out to us at enquiries@unitedclinicalss.com or 08139348842 Thank you for joining us.
            p We are confident that our CTMS will be a valuable tool in managing clinical trials efficiently.
            p Thank you for joining us
            
            p Best regards,
            p UCTSS Admin,
            p United Clinical Trial Support Services (UCTSS),
            p enquiries@unitedclinicalss.com